html,
body {
    height: 100%;
}

body {
    overflow: hidden;
    display: flex;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-size: 25px;
}

.main {
    margin: auto auto auto auto;
}

@media (min-width: 1000px) {
    .main {
        margin: 12% auto auto auto;
    }
}

/* Estilos aplicados al p: soy */
.soy {
    text-shadow: 1px 1px 5px rgb(0, 0, 255);
}

/* Posicionamiento elementos */
.fijo {
    display: flex;
    justify-content: center;
}

.linkTitulo{
    text-decoration: none;
    color: #ffffff;
}

/* Estilos aplicados para quitar la decoración y que no parezcan links */
.sections a {
    margin: 0 80px;
    text-decoration: none;
    color: white;
}

/* Estilos aplicados a los <a> para que cambien su estilo y resalten al pasar sobre ellos */
.sections a:hover {
    animation: cambiaColor 3s linear infinite;
    text-shadow: 1px 1px 5px rgb(255, 255, 255), -10px 10px 25px rgb(255, 255, 255);
}

/* Animación para que el h1 cambie de color constantemente */
h1 {
    animation: cambiaColor 7s linear infinite;
    /* Nombre de la animación, duración, tipo de interpolación y repetición */
}

@keyframes cambiaColor {
    0% {
        color: rgb(0, 0, 255);
    }

    /* Color inicial */

    25% {
        color: rgb(0, 183, 255);
    }

    /* Color al 25% de la animación */

    50% {
        color: rgb(255, 255, 255);
    }

    /* Color al 50% de la animación */
    75% {
        color: rgb(0, 183, 255);
    }

    /* Color al 75% de la animación */
    100% {
        color: rgb(0, 0, 255);
    }

    /* Color al 100% de la animación */
}