html,
body {
    height: 100%;
}

.cuerpo {
    font-family: "Rock Salt", cursive;
    color: #ffffff;
    background-color: #000000;
}

/* Estilos aplicados al p: soy */
.soy {
    font-size: 25px;
    text-shadow: 1px 1px 5px rgb(0, 0, 255);
}

/* Posicionamiento elementos */
.fijo {
    display: flex;
    justify-content: center;
    margin: 1.5% auto .5% auto;
}


/* Estilos para las cards */

/* Animación de las cards */
.card {
    transition: box-shadow 0.3s ease;
    transition: transform .5s ease;
}

.card:hover {
    transform: scale(1.2);
    animation: cambio-sombra 2s infinite alternate;
}

@keyframes cambio-sombra {
    0% {
        box-shadow: 0 0 10px rgb(0, 0, 255);
        /* sombra inicial */
    }

    25% {
        box-shadow: 0 0 10px rgb(0, 183, 255);
    }

    50% {
        box-shadow: 0 0 10px rgb(255, 255, 255);
    }

    75% {
        box-shadow: 0 0 10px rgb(0, 183, 255);
    }

    100% {
        box-shadow: 0 0 20px rgb(0, 0, 255);
        /* sombra al 100% de la animación */
    }
}

/* Quitar estilo de los <a> del las cards y los titulos de cada seccion */
.card-body-p {
    text-align: center;
    color: black;
    text-decoration: none;
}

.card-body{
    background: linear-gradient(180deg, rgb(94, 94, 94) 0%, rgba(255,255,255,1) 39%);
}

/* Manejo de estilos del section "contenedor" donde se encuentran las cards */
.contenedor {
    justify-content: space-evenly;
    padding: 1%;
    grid-gap: .5%;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Animación para que el h1 cambie de color constantemente */
h1 {
    animation: cambiaColor 7s linear infinite;
    /* Nombre de la animación, duración, tipo de interpolación y repetición */
}

@keyframes cambiaColor {
    0% {
        color: rgb(0, 0, 255);
    }

    /* Color inicial */

    25% {
        color: rgb(0, 183, 255);
    }

    /* Color al 25% de la animación */

    50% {
        color: rgb(255, 255, 255);
    }

    /* Color al 50% de la animación */

    75% {
        color: rgb(0, 183, 255);
    }

    /* Color al 75% de la animación */

    100% {
        color: rgb(0, 0, 255);
    }

    /* Color al 100% de la animación */
}

.card-img-top{
    border: #ff0000;
}