body {
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 0;
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: white
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 75px;
    font-family: 'Fjalla One', sans-serif;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-top: 25px;
    margin-left: 64px;
    height: 100px;
}

.redes {
    margin-right: 64px;
}

nav a {
    font-weight: 800;
    padding-right: 10px;
}

nav a:hover {
    border-radius: 5px;
    color: rgb(255,59,59);
}

nav {
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    padding-right: 150px;
}

@media(max-width:700px) {
    header {
        flex-direction: column;
    }

    .nav-link {
        padding-right: 10px;
    }

    .nava {
        display: none;
    }
}

.titulo2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: rgb(255,59,59);
    text-shadow: 2px 1px;
}

.carusel {
    height: 400px;
    display: flex;
    margin: 25px 250px;
}

.titulo2 h2:hover {
    color: whitesmoke
}

.carusel img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 1s ease;
}

.carusel img:hover {
    width: 100px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
    filter: contrast(150%);
}

.selec-talentos {
    display: flex;
    justify-content: center;
}

.selec-talentos>a {
    margin-left: 80px;
    margin-right: 78px;
}

.talentos {
    text-decoration: none;
}

.talentos button {
    font-size:larger;
    background: rgb(255,59,59);
    /* color de fondo */
    color: rgb(0, 0, 0);
    /* color de fuente */
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px 15px;
    border-radius: 10px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.talentos button:hover {
    color: rgb(255, 255, 255);
}

.talentos button::after {
    content: "";
    background: rgb(255,0,0);
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.talentos button:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

@media(max-width:700px) {
    .titulo2 {
        display: none;
    }

    .carusel {
        height: 200px;
        display: flex;
        margin: 25px 250px;
    }
}



.talento {
    color: rgb(197,39,40);
}

.opciones {
    position: relative;
    display: inline-block;
}

.opciones:hover .drop {
    display: flex;
}

.drop .tablas {
    min-width: 160px;
}

.drop {
    background-color: black;
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 5px solid rgb(255,59,59);
}

.drop a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop a:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

.tablas {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.opciones:hover .tablas {
    background-color: transparent;
}

.total{
    background-image: url(/Recursos/BACKING\(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 845px;
}