body {
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 0;
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: white
}

header {
    display: flex;
    height: 75px;
    font-family: 'Fjalla One', sans-serif;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-top: 25px;
    margin-left: 64px;
    height: 100px;
}

.redes {
    margin-right: 64px;
}

nav a {
    font-weight: 800;
    padding-right: 10px;
}

nav a:hover {
    border-radius: 5px;
    color: rgb(255, 59, 59);
}

nav {
    width: auto;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    padding-right: 150px;
}

.opciones {
    position: relative;
    display: inline-block;
}

.opciones:hover .drop {
    display: flex;
}

.drop .tablas {
    min-width: 160px;
}

.drop {
    background-color: black;
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 5px solid rgb(255, 59, 59);
}

.drop a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop a:hover {
    background-color: rgb(255, 59, 59);
    color: white;
}

.tablas {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.table {
    color: rgb(197, 39, 40);
}

.total{
    background-image: url(/Recursos/BACKING\(1\).webp);
    background-size: cover;
    text-align: center;
}

.total img{
    filter: contrast(120%);
    margin-top: 1.6%;
    height: 850px;
}