* {
    background-color: black;
}

a {
    text-decoration: none;
    color: white
}

header {
    display: flex;
    height: 75px;
    font-family: 'Fjalla One', sans-serif;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
}

nav a {
    font-weight: 800;
    padding-right: 10px;
}

nav a:hover {
    border-radius: 6px;
    color: rgb(255, 0, 0)
}

nav {
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    padding-right: 150px;
}

@media(max-width:700px) {
    header {
        flex-direction: column;
    }

    .nav-link {
        padding-right: 10px;
    }

    .nava {
        display: none;
    }
}